* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    height: 50svh;
    width: 100vw;
}

#weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50svh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#weather>div {
    width: 300px;
    height: 325px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.451);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}